.idea/
venv/
myenv/
__pycache__/
*.session/
bot_session.session
tgbotdatabase.sqlite
user_session.session
*.py[cod]
*.sqlite
*.sqlite3
env/
venv/
.vscode/
.env
*.env
*.log
.ipynb_checkpoints/
.DS_Store
Thumbs.db